<div class="span10">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h2>Welcome to Tamuly</h2>
        <div ng-repeat="api in keys(apis)">
          <h4 ng-click="selectApi(api)"><a>{{ api }}</a></h4>
          <ul ng-show="selectedApi==api">
            <li ng-repeat="fun in keys(apis[api])"><a ng-click="selectFun(fun)">{{ fun }}</a></li>
          </ul>
        </div>
      </div>
      <div class="span5">
        <span>{{ selectedParameters }}</span>
      </div>
    </div>
  </div>
</div>